body {
  background-color: #F7F9FC;
  font-family: 'Open Sans';
  color: #575F7D;
  font-size: 14px;
  line-height: 20px;
  margin: 20px 10px;
}

h1, h2 {
  font-family: 'Montserrat';
}

h2 {
  color: rgb(44, 170, 44);
}

h2 {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: rgb(160, 159, 159);
}

a:hover{
  color: black;
  font-weight: 400;
}

.button {
  padding: 16px 8px;
  background-color: rgb(72, 177, 72);
  color: white;
  border-radius: 4px;
  text-decoration: none;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}

.button:hover {
  background-color: white;
  border: 1px solid rgb(72, 177, 72);
  color: rgb(72, 177, 72);
  font-size: 13px;

}

i {
  color: rgb(223, 223, 223);
  font-size: 48px;
  margin: 0px 10px;
}

i:hover{
  color: black;
}

.container {
  width: 700px;
  margin: 40px auto;
}
.card {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  list-style: none;
  display: inline-block;
}

#home-page-first-image {
  border-radius: 50%;
  box-shadow: 0px 20px 30px rgba(0,0,0,0.2);
}

.mb-40px {
  margin-bottom: 40px;
}

#pmon:hover {
  color: #FF3369;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }

  h1 {
    font-size: 18px
  }
  h2 {
    font-size: 14px
  }

  img {
    width: 80px;
    height: 80px;
  }
}
